/*
 * Copyright (c) 2025 Joris Wachsmuth
 * SPDX-License-Identifier: MIT
 */

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 13)>,
                <NRF_PSEL(TWIM_SCL, 0, 29)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 13)>,
                <NRF_PSEL(TWIM_SCL, 0, 29)>;
            low-power-enable;
        };
    };

    /*spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 12)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 12)>;
            low-power-enable;
        };
    };*/

    i2s0_default: i2s0_default {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 08)>,
                    <NRF_PSEL(I2S_LRCK_M, 1, 09)>,
                    <NRF_PSEL(I2S_SDOUT, 1, 12)>
                    <NRF_PSEL(I2S_SDIN, 0, 11);
        };
    };

    i2s0_sleep: i2s0_sleep {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 08)>,
            <NRF_PSEL(I2S_LRCK_M, 1, 09)>,
            <NRF_PSEL(I2S_SDOUT, 1, 12)>
            <NRF_PSEL(I2S_SDIN, 0, 11);
            low-power-enable;
        };
    };
};
